#container
{
  text-align: right;
}
.container1{
    background-image: url("lakme.jpg");
  background-position: center center ;
  background-attachment: fixed;
  background-size: cover;
  height:400px;
    /* or whatever width you want. */
   display: block;
}

