#container
{
  text-align: right;
}
.container1{
  background-image: url("lakme.jpg");
  background-position: center center ;
  background-attachment: fixed;
  background-size: cover;
  height:400px;
    /* or whatever width you want. */
   display: block;
}
body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}
footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#000000;
  text-align: center;
}
/* Boxes */
#boxes{
  margin-top:50px;
  margin-bottom:50px;
}

#boxes .box{
  text-align: center;
  width:30%;
  padding:100px;
}

#boxes .box img{
  width:90px;
}

